* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  /* Normalize button */
  border: none;
  outline: none;
  background: none;
  text-align: center;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body, button, h1, h2, h3, h4, h5, h6, p, li, input {
  font-family: "Open Sans", Helvetica, sans-serif;
}

h1 {
  margin:50px 0 15px;
  text-align:center;
}

h2 {
  margin: 0 0 17px 0;
  text-align: center;
}

html, body {
  background: #f6f6f6;
}

section {
  padding: 61px 0;
}

header {
  background-color: #111;
  margin-top: 0;
  padding: 61px 31px;
}

header h1 {
  color: #ddd;
  margin: 0;
  font-size: 26px;
  font-weight: 100;
}

/* LIST SIZES */

.swipe, .swipe-wrap, .swipe-wrap div.row {
  width: 320px;
  font-size: 0;
}

div.row {
  margin-bottom: 1px;
}

div.row > * {
  font-size: 12px;
  font-weight: 600;
  line-height: 52px;
  position: relative;
  padding-top: 1px;
  display: inline-block;
}

/* LIST ELEMENTS */

.row button {
  border: solid 1px #ddd;
  border-radius: 2px;
  line-height: 30px;
  padding: 0 11px;
  margin: 9px;
}

.row h3.price {
  float: right;
  padding-right: 13px;
}

/* LIST STATES */

.swipe:nth-child(odd) div.row {     background: #f9f9f9; }
.swipe div.row {                    background: #f9f9f9; }
.swipe div.row.st-touched {            background-color: #fff; }
.swipe div.row.open button { border: none; }

.color-1 { background-color: #FFD34E; }
.color-1 h2 { color: #BD4932; }
.color-1 .swipe div.row.st-completed { background: #DB9E36; }
.color-1 .swipe div.row.st-completed, .color-1 .swipe div.row.st-completed button { color: #BD4932; }
.color-1 .swipe div.row.st-completed button { border: solid 1px #BD4932; }

.color-2 { background-color: #16CBB8; }
.color-2 h2 { color: #00535A; }
.color-2 .swipe div.row.st-completed { background: #008E9A; }
.color-2 .swipe div.row.st-completed, .color-2 .swipe div.row.st-completed button { color: #00535A; }
.color-2 .swipe div.row.st-completed button { border: solid 1px #00535A; }

.color-3 { background-color: #EE3551; }
.color-3 h2 { color: #6E1926; }
.color-3 .swipe div.row.st-completed { background: #AE273B; }
.color-3 .swipe div.row.st-completed, .color-3 .swipe div.row.st-completed button { color: #6E1926; }
.color-3 .swipe div.row.st-completed button { border: solid 1px #6E1926; }

.swipe div.options .option {
  width: 53px;
  height: 53px;
  display: inline-block;
}

.option.increment.st-touched, .option.decrement.st-touched {
  background-color: blue;
}

.option.increment, .option.decrement {
  background-color: #BD4932;
  font-size: 26px;
  line-height: 54px;
  text-align: center;
  color: #fff;
}

.option.increment {
  margin-right: 1px;
  box-shadow: 1px 0 0 #9B2710;
}

.option.decrement {
  margin-right: 1px;
  box-shadow: 1px 0 0 #9B2710;
}

.options.st-activated, .options.st-activated ~ div {
  transform: translate(0, 0) translateZ(0) !important;
  -o-transform: transform: translate(0, 0) translateZ(0) !important;
  -moz-transform: transform: translate(0, 0) translateZ(0) !important;
  -webkit-transform: transform: translate(0, 0) translateZ(0) !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

  div.options .option.delete {
    background: #468966 50% 50% no-repeat url('img/unchecked@2x.png');
    background-size: 24px;
  }

  div.options.st-activated .option.delete {
    background: #468966 50% 50% no-repeat url('img/checked@2x.png');
    background-size: 24px;
  }

  .option.more {
    background: green;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    padding: 0 11px;
  }
}